.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin: auto;
  max-width: 80vw;
  text-align: left;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

.explanation-section {
  margin: auto;
  max-width: 80vw;
  width: 100%;
}

code {
  background: #ddd;
  padding: .1rem .3rem;
}

.App-header nav,
.App-header ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.App-header li {
  list-style: none;
}

.App-header li::marker {
  display: none;
}

.App-header a {
  background: linear-gradient(to top, white, black 10%);
  color: whitesmoke;
  padding: .1rem .5rem .2rem;
  text-decoration: none;
  text-shadow: 0 0 .2rem black;
  transition: background .3s ease, color .3s ease, padding .3s ease;
}

.App-header .active {
  background: linear-gradient(to bottom, whitesmoke, black 10%);
  color: white;
  padding: .1rem .5rem .5rem;
}
